<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <!-- #include file="head.html" -->
</head>

<body>
  <!-- #include file="header.html" -->

  <div class="wrapper">
    <div class="container-fluid">

      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12">
          <div class="page-title-box">
            <div class="btn-group float-right">
              <ol class="breadcrumb hide-phone p-0 m-0">
                <li class="breadcrumb-item">
                  <a href="#">SiteServer</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="#">Charts</a>
                </li>
                <li class="breadcrumb-item active">Nvd3 Charts</li>
              </ol>
            </div>
            <h4 class="page-title">Nvd3 Charts</h4>
          </div>
        </div>
      </div>
      <!-- end page title end breadcrumb -->


      <div class="row">
        <div class="col-sm-12">
          <div class="card-box">
            <h4 class="m-t-0 m-b-20 header-title">
              <b>Line Chart</b>
            </h4>

            <div class="line-chart">
              <svg style="height:400px;width:100%"></svg>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-12">
          <div class="card-box">
            <h4 class="m-t-0 m-b-20 header-title">
              <b>Discrete Bar Chart</b>
            </h4>

            <div class="bar-chart">
              <svg style="height:400px;width:100%"></svg>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-12">
          <div class="card-box">
            <h4 class="m-t-0 m-b-20 header-title">
              <b>Horizontal Grouped / Stacked Bar Chart</b>
            </h4>

            <div class="multi-chart">
              <svg style="height:500px;width:100%"></svg>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-12">
          <div class="card-box">
            <h4 class="m-t-0 m-b-20 header-title">
              <b>Scatter chart</b>
            </h4>

            <div class="scatter-chart">
              <svg style="height:500px;width:100%"></svg>
            </div>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-sm-12">
          <div class="card-box">
            <h4 class="m-t-0 m-b-20 header-title">
              <b>Pie Chart &amp; Donut Chart</b>
            </h4>
            <div class="row">
              <div class="col-md-6">
                <div id="chart1">
                  <svg style="height:500px;width:100%"></svg>
                </div>
              </div>

              <div class="col-md-6">
                <div id="chart2">
                  <svg style="height:500px;width:100%"></svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- end container -->
  </div>
  <!-- end wrapper -->


  <!-- #include file="footer.html" -->

</body>

</html>
<!-- #include file="foot.html" -->