<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <!-- #include file="head.html" -->
</head>

<body>
  <!-- #include file="header.html" -->

  <div class="wrapper">
    <div class="container-fluid">

      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12">
          <div class="page-title-box">
            <div class="btn-group float-right">
              <ol class="breadcrumb hide-phone p-0 m-0">
                <li class="breadcrumb-item">
                  <a href="#">SiteServer</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="#">Pages</a>
                </li>
                <li class="breadcrumb-item active">Chartist</li>
              </ol>
            </div>
            <h4 class="page-title">Chartist</h4>
          </div>
        </div>
      </div>
      <!-- end page title end breadcrumb -->


      <div class="row">
        <div class="col-lg-6">
          <div class="card-box">
            <h4 class="m-t-0 header-title">
              <b>Advanced Smil Animations</b>
            </h4>
            <p class="text-muted m-b-30 font-13">
              Example of Horizontal bar chart.
            </p>

            <div id="smil-animations" class="ct-chart ct-golden-section"></div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card-box">
            <h4 class="m-t-0 header-title">
              <b>Simple line chart</b>
            </h4>
            <p class="text-muted m-b-30 font-13">
              Example of Horizontal bar chart.
            </p>

            <div id="simple-line-chart" class="ct-chart ct-golden-section"></div>
          </div>
        </div>
      </div>
      <!-- end row -->




      <div class="row">
        <div class="col-lg-6">
          <div class="card-box">
            <h4 class="m-t-0 header-title">
              <b>Line Scatter Diagram</b>
            </h4>
            <p class="text-muted m-b-30 font-13">
              Example of Horizontal bar chart.
            </p>

            <div id="scatter-diagram" class="ct-chart ct-golden-section"></div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card-box">
            <h4 class="m-t-0 header-title">
              <b>Line chart with tooltips</b>
            </h4>
            <p class="text-muted m-b-30 font-13">
              Example of Horizontal bar chart.
            </p>

            <div id="line-chart-tooltips" class="ct-chart ct-golden-section"></div>
          </div>
        </div>
      </div>
      <!-- end row -->



      <div class="row">
        <div class="col-lg-6">
          <div class="card-box">
            <h4 class="m-t-0 header-title">
              <b>Line chart with area</b>
            </h4>
            <p class="text-muted m-b-30 font-13">
              Example of Horizontal bar chart.
            </p>

            <div id="chart-with-area" class="ct-chart ct-golden-section"></div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card-box">
            <h4 class="m-t-0 header-title">
              <b>Bi-polar Line chart with area only</b>
            </h4>
            <p class="text-muted m-b-30 font-13">
              Example of Horizontal bar chart.
            </p>

            <div id="bi-polar-line" class="ct-chart ct-golden-section"></div>
          </div>
        </div>
      </div>
      <!-- end row -->



      <div class="row">
        <div class="col-lg-6">
          <div class="card-box">
            <h4 class="m-t-0 header-title">
              <b>SVG Path animation</b>
            </h4>
            <p class="text-muted m-b-30 font-13">
              Example of Horizontal bar chart.
            </p>

            <div id="svg-animation" class="ct-chart ct-golden-section"></div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card-box">
            <h4 class="m-t-0 header-title">
              <b>Line Interpolation / Smoothing</b>
            </h4>
            <p class="text-muted m-b-30 font-13">
              Example of Horizontal bar chart.
            </p>

            <div id="line-smoothing" class="ct-chart ct-golden-section"></div>
          </div>
        </div>
      </div>
      <!-- end row -->




      <div class="row">
        <div class="col-lg-6">
          <div class="card-box">
            <h4 class="m-t-0 header-title">
              <b>Different configuration for different series</b>
            </h4>
            <p class="text-muted m-b-30 font-13">
              Example of Horizontal bar chart.
            </p>

            <div id="different-series" class="ct-chart ct-golden-section"></div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card-box">
            <h4 class="m-t-0 header-title">
              <b>SVG Animations chart</b>
            </h4>
            <p class="text-muted m-b-30 font-13">
              Example of Label placement chart.
            </p>

            <div id="svg-dot-animation" class="ct-chart ct-golden-section"></div>
          </div>
        </div>
      </div>
      <!-- end row -->




      <div class="row">
        <div class="col-lg-6">
          <div class="card-box">
            <h4 class="m-t-0 header-title">
              <b>Bi-polar bar chart</b>
            </h4>
            <p class="text-muted m-b-30 font-13">
              Example of Horizontal bar chart.
            </p>

            <div id="bi-polar-bar" class="ct-chart ct-golden-section"></div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card-box">
            <h4 class="m-t-0 header-title">
              <b>Overlapping bars on mobile</b>
            </h4>
            <p class="text-muted m-b-30 font-13">
              Example of Horizontal bar chart.
            </p>

            <div id="overlapping-bars" class="ct-chart ct-golden-section"></div>
          </div>
        </div>
      </div>
      <!-- end row -->



      <div class="row">
        <div class="col-lg-6">
          <div class="card-box">
            <h4 class="m-t-0 header-title">
              <b>Multi-line labels</b>
            </h4>
            <p class="text-muted m-b-30 font-13">
              Example of Horizontal bar chart.
            </p>

            <div id="multi-line-chart" class="ct-chart ct-golden-section"></div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card-box">
            <h4 class="m-t-0 header-title">
              <b>Stacked bar chart</b>
            </h4>
            <p class="text-muted m-b-30 font-13">
              Example of Horizontal bar chart.
            </p>

            <div id="stacked-bar-chart" class="ct-chart ct-golden-section"></div>
          </div>
        </div>
      </div>
      <!-- end row -->



      <div class="row">
        <div class="col-lg-6">
          <div class="card-box">
            <h4 class="m-t-0 header-title">
              <b>Horizontal bar chart</b>
            </h4>
            <p class="text-muted m-b-30 font-13">
              Example of Horizontal bar chart.
            </p>

            <div id="horizontal-bar-chart" class="ct-chart ct-golden-section"></div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card-box">
            <h4 class="m-t-0 header-title">
              <b>Extreme responsive configuration</b>
            </h4>
            <p class="text-muted m-b-30 font-13">
              Example of Horizontal bar chart.
            </p>

            <div id="extreme-chart" class="ct-chart ct-golden-section"></div>
          </div>
        </div>
      </div>
      <!-- end row -->




      <div class="row">
        <div class="col-lg-6">
          <div class="card-box">
            <h4 class="m-t-0 header-title">
              <b>Distributed series</b>
            </h4>
            <p class="text-muted m-b-30 font-13">
              Example of Horizontal bar chart.
            </p>

            <div id="distributed-series" class="ct-chart ct-golden-section"></div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card-box">
            <h4 class="m-t-0 header-title">
              <b>Label placement</b>
            </h4>
            <p class="text-muted m-b-30 font-13">
              Example of Label placement chart.
            </p>

            <div id="label-placement-chart" class="ct-chart ct-golden-section"></div>
          </div>
        </div>
      </div>
      <!-- end row -->



      <div class="row">
        <div class="col-lg-6">
          <div class="card-box">
            <h4 class="m-t-0 header-title">
              <b>Animating a Donut with Svg.animate</b>
            </h4>
            <p class="text-muted m-b-30 font-13">
              Example of Horizontal bar chart.
            </p>

            <div id="animating-donut" class="ct-chart ct-golden-section"></div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card-box">
            <h4 class="m-t-0 header-title">
              <b>Simple pie chart</b>
            </h4>
            <p class="text-muted m-b-30 font-13">
              Example of Label placement chart.
            </p>

            <div id="simple-pie" class="ct-chart ct-golden-section simple-pie-chart-chartist"></div>
          </div>
        </div>
      </div>
      <!-- end row -->




      <div class="row">
        <div class="col-lg-6">
          <div class="card-box">
            <h4 class="m-t-0 header-title">
              <b>Pie chart with custom labels</b>
            </h4>
            <p class="text-muted m-b-30 font-13">
              Example of Horizontal bar chart.
            </p>

            <div id="pie-chart" class="ct-chart ct-golden-section"></div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card-box">
            <h4 class="m-t-0 header-title">
              <b>Gauge chart</b>
            </h4>
            <p class="text-muted m-b-30 font-13">
              Example of Label placement chart.
            </p>

            <div id="gauge-chart" class="ct-chart ct-golden-section"></div>
          </div>
        </div>
      </div>
      <!-- end row -->

    </div>
    <!-- end container -->
  </div>
  <!-- end wrapper -->


  <!-- #include file="footer.html" -->

</body>

</html>
<!-- #include file="foot.html" -->