<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>SiteServer.UI - SiteServer CMS 响应式用户交互组件库</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta content="SiteServer CMS 响应式用户交互组件库，建立在 Bootstrap 最新版本 v4.0之上，采用Sass编写，基于HTML5以及CSS3，完全响应式。" name="description" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="shortcut icon" href="assets/images/favicon.ico">
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/siteserver.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <!-- #include file="header.html" -->


  <div class="container-fluid">

    <!-- Page-Title -->
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
          <div class="btn-group float-right">
            <ol class="breadcrumb hide-phone p-0 m-0">
              <li class="breadcrumb-item">
                <a href="#">SiteServer</a>
              </li>
              <li class="breadcrumb-item">
                <a href="#">Charts</a>
              </li>
              <li class="breadcrumb-item active">Morris Chart</li>
            </ol>
          </div>
          <h4 class="page-title">Morris Chart</h4>
        </div>
      </div>
    </div>
    <!-- end page title end breadcrumb -->


    <!-- BAR Chart -->
    <div class="row">
      <div class="col-lg-6">
        <div class="portlet">
          <!-- /primary heading -->
          <div class="portlet-heading">
            <h3 class="portlet-title text-dark"> Bar Chart </h3>
            <div class="portlet-widgets">
              <a href="javascript:;" data-toggle="reload">
                <i class="ion-refresh"></i>
              </a>
              <span class="divider"></span>
              <a data-toggle="collapse" data-parent="#accordion1" href="#bg-default">
                <i class="ion-minus-round"></i>
              </a>
              <span class="divider"></span>
              <a href="#" data-toggle="remove">
                <i class="ion-close-round"></i>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
          <div id="bg-default" class="panel-collapse collapse show">
            <div class="portlet-body">
              <div class="text-center">
                <ul class="list-inline chart-detail-list">
                  <li class="list-inline-item">
                    <h5>
                      <i class="fa fa-circle m-r-5" style="color: #00b19d;"></i>Series A</h5>
                  </li>
                  <li class="list-inline-item">
                    <h5>
                      <i class="fa fa-circle m-r-5" style="color: #64b5f6;"></i>Series B</h5>
                  </li>
                  <li class="list-inline-item">
                    <h5>
                      <i class="fa fa-circle m-r-5" style="color: #dcdcdc;"></i>Series C</h5>
                  </li>
                </ul>
              </div>
              <div id="morris-bar-example" style="height: 300px;"></div>
            </div>
          </div>
        </div>
        <!-- /Portlet -->
      </div>
      <!-- col -->
      <div class="col-lg-6">
        <div class="portlet">
          <!-- /primary heading -->
          <div class="portlet-heading">
            <h3 class="portlet-title text-dark"> Stacked Bar Chart </h3>
            <div class="portlet-widgets">
              <a href="javascript:;" data-toggle="reload">
                <i class="ion-refresh"></i>
              </a>
              <span class="divider"></span>
              <a data-toggle="collapse" data-parent="#accordion1" href="#bg-default1">
                <i class="ion-minus-round"></i>
              </a>
              <span class="divider"></span>
              <a href="#" data-toggle="remove">
                <i class="ion-close-round"></i>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
          <div id="bg-default1" class="panel-collapse collapse show">
            <div class="portlet-body">
              <div class="text-center">
                <ul class="list-inline chart-detail-list">
                  <li class="list-inline-item">
                    <h5>
                      <i class="fa fa-circle m-r-5" style="color: #00b19d;"></i>Series A</h5>
                  </li>
                  <li class="list-inline-item">
                    <h5>
                      <i class="fa fa-circle m-r-5" style="color: #dcdcdc;"></i>Series B</h5>
                  </li>
                </ul>
              </div>
              <div id="morris-bar-stacked" style="height: 300px;"></div>
            </div>
          </div>
        </div>
        <!-- /Portlet -->
      </div>
      <!-- col -->
    </div>
    <!-- End row-->




    <div class="row">

      <!-- Area Chart -->
      <div class="col-lg-6">
        <div class="portlet">
          <!-- /primary heading -->
          <div class="portlet-heading">
            <h3 class="portlet-title text-dark"> Area Chart with Point </h3>
            <div class="portlet-widgets">
              <a href="javascript:;" data-toggle="reload">
                <i class="ion-refresh"></i>
              </a>
              <span class="divider"></span>
              <a data-toggle="collapse" data-parent="#accordion1" href="#portlet2">
                <i class="ion-minus-round"></i>
              </a>
              <span class="divider"></span>
              <a href="#" data-toggle="remove">
                <i class="ion-close-round"></i>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
          <div id="portlet2" class="panel-collapse collapse show">
            <div class="portlet-body">
              <div class="text-center">
                <ul class="list-inline chart-detail-list">
                  <li class="list-inline-item">
                    <h5>
                      <i class="fa fa-circle m-r-5" style="color: #00b19d;"></i>Series A</h5>
                  </li>
                  <li class="list-inline-item">
                    <h5>
                      <i class="fa fa-circle m-r-5" style="color: #64b5f6;"></i>Series B</h5>
                  </li>
                </ul>
              </div>
              <div id="morris-area-with-dotted" style="height: 300px;"></div>
            </div>
          </div>
        </div>
        <!-- /Portlet -->
      </div>

      <!-- Area Chart -->
      <div class="col-lg-6">
        <div class="portlet">
          <!-- /primary heading -->
          <div class="portlet-heading">
            <h3 class="portlet-title text-dark"> Area Chart </h3>
            <div class="portlet-widgets">
              <a href="javascript:;" data-toggle="reload">
                <i class="ion-refresh"></i>
              </a>
              <span class="divider"></span>
              <a data-toggle="collapse" data-parent="#accordion1" href="#portlet3">
                <i class="ion-minus-round"></i>
              </a>
              <span class="divider"></span>
              <a href="#" data-toggle="remove">
                <i class="ion-close-round"></i>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
          <div id="portlet3" class="panel-collapse collapse show">
            <div class="portlet-body">
              <div class="text-center">
                <ul class="list-inline chart-detail-list">
                  <li class="list-inline-item">
                    <h5>
                      <i class="fa fa-circle m-r-5" style="color: #00b19d;"></i>Series A</h5>
                  </li>
                  <li class="list-inline-item">
                    <h5>
                      <i class="fa fa-circle m-r-5" style="color: #64b5f6;"></i>Series B</h5>
                  </li>
                  <li class="list-inline-item">
                    <h5>
                      <i class="fa fa-circle m-r-5" style="color: #dcdcdc;"></i>Series C</h5>
                  </li>
                </ul>
              </div>
              <div id="morris-area-example" style="height: 300px;"></div>
            </div>
          </div>
        </div>
        <!-- /Portlet -->
      </div>

    </div>
    <!-- End row-->



    <div class="row">
      <!--  Line Chart -->
      <div class="col-lg-6">
        <div class="portlet">
          <!-- /primary heading -->
          <div class="portlet-heading">
            <h3 class="portlet-title text-dark"> Line Chart </h3>
            <div class="portlet-widgets">
              <a href="javascript:;" data-toggle="reload">
                <i class="ion-refresh"></i>
              </a>
              <span class="divider"></span>
              <a data-toggle="collapse" data-parent="#accordion1" href="#portlet4">
                <i class="ion-minus-round"></i>
              </a>
              <span class="divider"></span>
              <a href="#" data-toggle="remove">
                <i class="ion-close-round"></i>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
          <div id="portlet4" class="panel-collapse collapse show">
            <div class="portlet-body">
              <div class="text-center">
                <ul class="list-inline chart-detail-list">
                  <li class="list-inline-item">
                    <h5>
                      <i class="fa fa-circle m-r-5" style="color: #00b19d;"></i>Series A</h5>
                  </li>
                  <li class="list-inline-item">
                    <h5>
                      <i class="fa fa-circle m-r-5" style="color: #29b6f6;"></i>Series B</h5>
                  </li>
                  <li class="list-inline-item">
                    <h5>
                      <i class="fa fa-circle m-r-5" style="color: #3f51b5;"></i>Series C</h5>
                  </li>
                </ul>
              </div>
              <div id="morris-line-example" style="height: 300px;"></div>
            </div>
          </div>
        </div>
        <!-- /Portlet -->
      </div>

      <!-- Donut Chart -->
      <div class="col-lg-6">
        <div class="portlet">
          <!-- /primary heading -->
          <div class="portlet-heading">
            <h3 class="portlet-title text-dark"> Donut Chart </h3>
            <div class="portlet-widgets">
              <a href="javascript:;" data-toggle="reload">
                <i class="ion-refresh"></i>
              </a>
              <span class="divider"></span>
              <a data-toggle="collapse" data-parent="#accordion1" href="#portlet5">
                <i class="ion-minus-round"></i>
              </a>
              <span class="divider"></span>
              <a href="#" data-toggle="remove">
                <i class="ion-close-round"></i>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
          <div id="portlet5" class="panel-collapse collapse show">
            <div class="portlet-body">
              <div id="morris-donut-example" style="height: 300px;"></div>

              <div class="text-center">
                <ul class="list-inline chart-detail-list">
                  <li class="list-inline-item">
                    <h5>
                      <i class="fa fa-circle m-r-5" style="color: #ededed;"></i>In-Store Sales</h5>
                  </li>
                  <li class="list-inline-item">
                    <h5>
                      <i class="fa fa-circle m-r-5" style="color: #64b5f6;"></i>Mail-Order Sales</h5>
                  </li>
                  <li class="list-inline-item">
                    <h5>
                      <i class="fa fa-circle m-r-5" style="color: #00b19d;"></i>Download Sales</h5>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- /Portlet -->
      </div>
    </div>
    <!-- End row-->

  </div>
  <!-- end container -->


  <!-- #include file="footer.html" -->

</body>

</html>