<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <!-- #include file="head.html" -->
</head>

<body>
  <!-- #include file="header.html" -->

  <div class="wrapper">
    <div class="container-fluid">

      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12">
          <div class="page-title-box">
            <div class="btn-group float-right">
              <ol class="breadcrumb hide-phone p-0 m-0">
                <li class="breadcrumb-item">
                  <a href="#">SiteServer</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="#">Components</a>
                </li>
                <li class="breadcrumb-item active">Sweet-Alert</li>
              </ol>
            </div>
            <h4 class="page-title">Sweet-Alert</h4>
          </div>
        </div>
      </div>
      <!-- end page title end breadcrumb -->

      <div class="row">
        <div class="col-12">
          <div class="card-box">
            <h4 class="m-t-0 header-title">Examples</h4>
            <p class="text-muted m-b-30 font-13">
              A beautiful replacement for JavaScript's "Alert".
            </p>

            <table class="table">
              <thead>
                <tr>
                  <th style="min-width:50%;">Alert Type</th>
                  <th>Example</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>A basic message</td>
                  <td>
                    <button type="button" class="btn btn-light waves-effect waves-light btn-sm" id="sa-basic">Click me</button>
                  </td>
                </tr>

                <tr>
                  <td>A title with a text under</td>
                  <td>
                    <button type="button" class="btn btn-light waves-effect waves-light btn-sm" id="sa-title">Click me</button>
                  </td>
                </tr>
                <tr>
                  <td>A success message!</td>
                  <td>
                    <button type="button" class="btn btn-light waves-effect waves-light btn-sm" id="sa-success">Click me</button>
                  </td>
                </tr>
                <tr>
                  <td>A warning message, with a function attached to the "Confirm"-button...</td>
                  <td>
                    <button type="button" class="btn btn-light waves-effect waves-light btn-sm" id="sa-warning">Click me</button>
                  </td>
                </tr>
                <tr>
                  <td>By passing a parameter, you can execute something else for "Cancel".</td>
                  <td>
                    <button type="button" class="btn btn-light waves-effect waves-light btn-sm" id="sa-params">Click me</button>
                  </td>
                </tr>
                <tr>
                  <td>A message with custom Image Header</td>
                  <td>
                    <button type="button" class="btn btn-light waves-effect waves-light btn-sm" id="sa-image">Click me</button>
                  </td>
                </tr>
                <tr>
                  <td>A message with auto close timer</td>
                  <td>
                    <button type="button" class="btn btn-light waves-effect waves-light btn-sm" id="sa-close">Click me</button>
                  </td>
                </tr>
                <tr>
                  <td>Custom HTML description and buttons</td>
                  <td>
                    <button type="button" class="btn btn-light waves-effect waves-light btn-sm" id="custom-html-alert">Click me</button>
                  </td>
                </tr>
                <tr>
                  <td>A message with custom width, padding and background</td>
                  <td>
                    <button type="button" class="btn btn-light waves-effect waves-light btn-sm" id="custom-padding-width-alert">Click me</button>
                  </td>
                </tr>
                <tr>
                  <td>Ajax request example</td>
                  <td>
                    <button type="button" class="btn btn-light waves-effect waves-light btn-sm" id="ajax-alert">Click me</button>
                  </td>
                </tr>
                <tr>
                  <td>Chaining modals (queue) example</td>
                  <td>
                    <button type="button" class="btn btn-light waves-effect waves-light btn-sm" id="chaining-alert">Click me</button>
                  </td>
                </tr>
                <tr>
                  <td>Dynamic queue example</td>
                  <td>
                    <button type="button" class="btn btn-light waves-effect waves-light btn-sm" id="dynamic-alert">Click me</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- end row -->


    </div>
    <!-- end container -->
  </div>
  <!-- end wrapper -->


  <!-- #include file="footer.html" -->

</body>

</html>
<!-- #include file="foot.html" -->