<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>SiteServer.UI - SiteServer CMS 响应式用户交互组件库</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta content="SiteServer CMS 响应式用户交互组件库，建立在 Bootstrap 最新版本 v4.0之上，采用Sass编写，基于HTML5以及CSS3，完全响应式。" name="description" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="shortcut icon" href="assets/images/favicon.ico">
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/siteserver.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <!-- #include file="header.html" -->


  <div class="container-fluid">

    <!-- Page-Title -->
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
          <div class="btn-group float-right">
            <ol class="breadcrumb hide-phone p-0 m-0">
              <li class="breadcrumb-item">
                <a href="#">SiteServer</a>
              </li>
              <li class="breadcrumb-item">
                <a href="#">Components</a>
              </li>
              <li class="breadcrumb-item active">Sweet-Alert</li>
            </ol>
          </div>
          <h4 class="page-title">Sweet-Alert</h4>
        </div>
      </div>
    </div>
    <!-- end page title end breadcrumb -->

    <div class="row">
      <div class="col-12">
        <div class="card-box">
          <h4 class="m-t-0 header-title">
            <b>Sweet-Alert Examples</b>
          </h4>
          <p class="text-muted m-b-30 font-13">
            A beautiful replacement for JavaScript's "Alert".
          </p>

          <table class="table">
            <thead>
              <tr>
                <th style="width:50%;">Alert Type</th>
                <th>Example</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="middle-align">Basic Example</td>
                <td>
                  <button class="btn btn-secondary btn-sm" id="sa-basic">Click me</button>
                </td>
              </tr>

              <tr>
                <td class="middle-align">A title with a text under</td>
                <td>
                  <button class="btn btn-secondary btn-sm" id="sa-title">Click me</button>
                </td>
              </tr>
              <tr>
                <td class="middle-align">A success message!</td>
                <td>
                  <button class="btn btn-secondary btn-sm" id="sa-success">Click me</button>
                </td>
              </tr>
              <tr>
                <td class="middle-align">A warning message, with a function attached to the "Confirm"-button...</td>
                <td>
                  <button class="btn btn-secondary btn-sm" id="sa-warning">Click me</button>
                </td>
              </tr>
              <tr>
                <td class="middle-align">By passing a parameter, you can execute something else for "Cancel".</td>
                <td>
                  <button class="btn btn-secondary btn-sm" id="sa-params">Click me</button>
                </td>
              </tr>
              <tr>
                <td class="middle-align">A message with custom Image Header</td>
                <td>
                  <button class="btn btn-secondary btn-sm" id="sa-image">Click me</button>
                </td>
              </tr>
              <tr>
                <td class="middle-align">A message with auto close timer</td>
                <td>
                  <button class="btn btn-secondary btn-sm" id="sa-close">Click me</button>
                </td>
              </tr>
              <tr>
                <td class="middle-align">A message with button primary</td>
                <td>
                  <button class="btn btn-primary btn-sm" id="primary-alert">Click me</button>
                </td>
              </tr>
              <tr>
                <td class="middle-align">A message with button info</td>
                <td>
                  <button class="btn btn-info btn-sm" id="info-alert">Click me</button>
                </td>
              </tr>
              <tr>
                <td class="middle-align">A message with button success</td>
                <td>
                  <button class="btn btn-success btn-sm" id="success-alert">Click me</button>
                </td>
              </tr>
              <tr>
                <td class="middle-align">A message with button warning</td>
                <td>
                  <button class="btn btn-warning btn-sm" id="warning-alert">Click me</button>
                </td>
              </tr>
              <tr>
                <td class="middle-align">A message with button danger</td>
                <td>
                  <button class="btn btn-danger btn-sm" id="danger-alert">Click me</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- end row -->


  </div>
  <!-- end container -->


  <!-- #include file="footer.html" -->

</body>

</html>