<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <!-- #include file="head.html" -->
</head>

<body>
  <!-- #include file="header.html" -->

  <div class="wrapper">
    <div class="container-fluid">

      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12">
          <div class="page-title-box">
            <div class="btn-group float-right">
              <ol class="breadcrumb hide-phone p-0 m-0">
                <li class="breadcrumb-item">
                  <a href="#">SiteServer</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="#">Extras</a>
                </li>
                <li class="breadcrumb-item active">Tree View</li>
              </ol>
            </div>
            <h4 class="page-title">Tree View</h4>
          </div>
        </div>
      </div>
      <!-- end page title end breadcrumb -->


      <div class="row">
        <div class="col-md-6">
          <div class="card-box">
            <h4 class="text-dark header-title m-t-0 m-b-30">Basic Tree</h4>

            <div id="basicTree">
              <ul>
                <li>SiteServer
                  <ul>
                    <li data-jstree='{"opened":true}'>Assets
                      <ul>
                        <li data-jstree='{"type":"file"}'>Css</li>
                        <li data-jstree='{"opened":true}'>Plugins
                          <ul>
                            <li data-jstree='{"selected":true,"type":"file"}'>Plugin one</li>
                            <li data-jstree='{"type":"file"}'>Plugin two</li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li data-jstree='{"opened":true}'>Email Template
                      <ul>
                        <li data-jstree='{"type":"file"}'>Email one</li>
                        <li data-jstree='{"type":"file"}'>Email two</li>
                      </ul>
                    </li>
                    <li data-jstree='{"icon":"mdi mdi-view-dashboard"}'>Dashboard</li>
                    <li data-jstree='{"icon":"mdi mdi-format-float-right"}'>Typography</li>
                    <li data-jstree='{"opened":true}'>User Interface
                      <ul>
                        <li data-jstree='{"type":"file"}'>Buttons</li>
                        <li data-jstree='{"type":"file"}'>Cards</li>
                      </ul>
                    </li>
                    <li data-jstree='{"icon":"mdi mdi-foursquare"}'>Forms</li>
                    <li data-jstree='{"icon":"mdi mdi-format-list-bulleted"}'>Tables</li>
                  </ul>
                </li>
                <li data-jstree='{"type":"file"}'>Frontend</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- end col -->

        <div class="col-md-6">
          <div class="card-box">
            <h4 class="text-dark header-title m-t-0 m-b-30">Checkbox Tree</h4>

            <div id="checkTree">
              <ul>
                <li>SiteServer
                  <ul>
                    <li data-jstree='{"opened":true}'>Assets
                      <ul>
                        <li data-jstree='{"type":"file"}'>Css</li>
                        <li data-jstree='{"opened":true}'>Plugins
                          <ul>
                            <li data-jstree='{"selected":true,"type":"file"}'>Plugin one</li>
                            <li data-jstree='{"type":"file"}'>Plugin two</li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li data-jstree='{"opened":true}'>Email Template
                      <ul>
                        <li data-jstree='{"type":"file"}'>Email one</li>
                        <li data-jstree='{"type":"file"}'>Email two</li>
                      </ul>
                    </li>
                    <li data-jstree='{"icon":"mdi mdi-view-dashboard"}'>Dashboard</li>
                    <li data-jstree='{"icon":"mdi mdi-format-float-right"}'>Typography</li>
                    <li data-jstree='{"opened":true}'>User Interface
                      <ul>
                        <li data-jstree='{"type":"file"}'>Buttons</li>
                        <li data-jstree='{"type":"file"}'>Cards</li>
                      </ul>
                    </li>
                    <li data-jstree='{"icon":"mdi mdi-foursquare"}'>Forms</li>
                    <li data-jstree='{"icon":"mdi mdi-format-list-bulleted"}'>Tables</li>
                  </ul>
                </li>
                <li data-jstree='{"type":"file"}'>Frontend</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->


      <div class="row">
        <div class="col-md-6">
          <div class="card-box">
            <h4 class="text-dark header-title m-t-0 m-b-30">Drag &amp; Drop</h4>

            <div id="dragTree">
              <ul>
                <li>SiteServer
                  <ul>
                    <li data-jstree='{"opened":true}'>Assets
                      <ul>
                        <li data-jstree='{"type":"file"}'>Css</li>
                        <li data-jstree='{"opened":true}'>Plugins
                          <ul>
                            <li data-jstree='{"selected":true,"type":"file"}'>Plugin one</li>
                            <li data-jstree='{"type":"file"}'>Plugin two</li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li data-jstree='{"opened":true}'>Email Template
                      <ul>
                        <li data-jstree='{"type":"file"}'>Email one</li>
                        <li data-jstree='{"type":"file"}'>Email two</li>
                      </ul>
                    </li>
                    <li data-jstree='{"icon":"mdi mdi-view-dashboard"}'>Dashboard</li>
                    <li data-jstree='{"icon":"mdi mdi-format-float-right"}'>Typography</li>
                    <li data-jstree='{"opened":true}'>User Interface
                      <ul>
                        <li data-jstree='{"type":"file"}'>Buttons</li>
                        <li data-jstree='{"type":"file"}'>Cards</li>
                      </ul>
                    </li>
                    <li data-jstree='{"icon":"mdi mdi-foursquare"}'>Forms</li>
                    <li data-jstree='{"icon":"mdi mdi-format-list-bulleted"}'>Tables</li>
                  </ul>
                </li>
                <li data-jstree='{"type":"file"}'>Frontend</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- end col -->

        <div class="col-md-6">
          <div class="card-box">
            <h4 class="text-dark header-title m-t-0 m-b-30">Ajax</h4>
            <div id="ajaxTree"></div>
          </div>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->

    </div>
    <!-- end container -->
  </div>
  <!-- end wrapper -->


  <!-- #include file="footer.html" -->

</body>

</html>
<!-- #include file="foot.html" -->