<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <!-- #include file="head.html" -->
</head>

<body>
  <!-- #include file="header.html" -->

  <div class="wrapper">
    <div class="container-fluid">

      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12">
          <div class="page-title-box">
            <div class="btn-group float-right">
              <ol class="breadcrumb hide-phone p-0 m-0">
                <li class="breadcrumb-item">
                  <a href="#">SiteServer</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="#">Extras</a>
                </li>
                <li class="breadcrumb-item active">Gallery</li>
              </ol>
            </div>
            <h4 class="page-title">Gallery</h4>
          </div>
        </div>
      </div>
      <!-- end page title end breadcrumb -->


      <!-- SECTION FILTER
                        ================================================== -->
      <div class="row">
        <div class="col-12">
          <div class="portfolioFilter text-center">
            <a href="#" data-filter="*" class="current">All</a>
            <a href="#" data-filter=".webdesign">Web Design</a>
            <a href="#" data-filter=".graphicdesign">Graphic Design</a>
            <a href="#" data-filter=".illustrator">Illustrator</a>
            <a href="#" data-filter=".photography">Photography</a>
          </div>
        </div>
      </div>

      <div class="port m-b-20">
        <div class="portfolioContainer">
          <div class="col-sm-6 col-lg-3 col-md-4 webdesign illustrator">
            <div class="gal-detail thumb">
              <a href="assets/images/gallery/1.jpg" class="image-popup" title="Screenshot-1">
                <img src="assets/images/gallery/1.jpg" class="thumb-img" alt="work-thumbnail">
              </a>
              <h4 class="text-center">Gallary Image</h4>
              <div class="ga-border"></div>
              <p class="text-muted text-center">
                <small>Photography</small>
              </p>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3 col-md-4 graphicdesign illustrator photography">
            <div class="gal-detail thumb">
              <a href="assets/images/gallery/2.jpg" class="image-popup" title="Screenshot-2">
                <img src="assets/images/gallery/2.jpg" class="thumb-img" alt="work-thumbnail">
              </a>
              <h4 class="text-center">Gallary Image</h4>
              <div class="ga-border"></div>
              <p class="text-muted text-center">
                <small>Photography</small>
              </p>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3 col-md-4 webdesign graphicdesign">
            <div class="gal-detail thumb">
              <a href="assets/images/gallery/3.jpg" class="image-popup" title="Screenshot-3">
                <img src="assets/images/gallery/3.jpg" class="thumb-img" alt="work-thumbnail">
              </a>
              <h4 class="text-center">Gallary Image</h4>
              <div class="ga-border"></div>
              <p class="text-muted text-center">
                <small>Photography</small>
              </p>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3 col-md-4 illustrator photography">
            <div class="gal-detail thumb">
              <a href="assets/images/gallery/4.jpg" class="image-popup" title="Screenshot-4">
                <img src="assets/images/gallery/4.jpg" class="thumb-img" alt="work-thumbnail">
              </a>
              <h4 class="text-center">Gallary Image</h4>
              <div class="ga-border"></div>
              <p class="text-muted text-center">
                <small>Photography</small>
              </p>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3 col-md-4 graphicdesign photography">
            <div class="gal-detail thumb">
              <a href="assets/images/gallery/5.jpg" class="image-popup" title="Screenshot-5">
                <img src="assets/images/gallery/5.jpg" class="thumb-img" alt="work-thumbnail">
              </a>
              <h4 class="text-center">Gallary Image</h4>
              <div class="ga-border"></div>
              <p class="text-muted text-center">
                <small>Photography</small>
              </p>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3 col-md-4 webdesign photography">
            <div class="gal-detail thumb">
              <a href="assets/images/gallery/6.jpg" class="image-popup" title="Screenshot-6">
                <img src="assets/images/gallery/6.jpg" class="thumb-img" alt="work-thumbnail">
              </a>
              <h4 class="text-center">Gallary Image</h4>
              <div class="ga-border"></div>
              <p class="text-muted text-center">
                <small>Photography</small>
              </p>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3 col-md-4 illustrator photography graphicdesign">
            <div class="gal-detail thumb">
              <a href="assets/images/gallery/7.jpg" class="image-popup" title="Screenshot-7">
                <img src="assets/images/gallery/7.jpg" class="thumb-img" alt="work-thumbnail">
              </a>
              <h4 class="text-center">Gallary Image</h4>
              <div class="ga-border"></div>
              <p class="text-muted text-center">
                <small>Photography</small>
              </p>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3 col-md-4 graphicdesign photography webdesign">
            <div class="gal-detail thumb">
              <a href="assets/images/gallery/8.jpg" class="image-popup" title="Screenshot-8">
                <img src="assets/images/gallery/8.jpg" class="thumb-img" alt="work-thumbnail">
              </a>
              <h4 class="text-center">Gallary Image</h4>
              <div class="ga-border"></div>
              <p class="text-muted text-center">
                <small>Photography</small>
              </p>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3 col-md-4 webdesign illustrator">
            <div class="gal-detail thumb">
              <a href="assets/images/gallery/9.jpg" class="image-popup" title="Screenshot-9">
                <img src="assets/images/gallery/9.jpg" class="thumb-img" alt="work-thumbnail">
              </a>
              <h4 class="text-center">Gallary Image</h4>
              <div class="ga-border"></div>
              <p class="text-muted text-center">
                <small>Photography</small>
              </p>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3 col-md-4 photography graphicdesign">
            <div class="gal-detail thumb">
              <a href="assets/images/gallery/10.jpg" class="image-popup" title="Screenshot-10">
                <img src="assets/images/gallery/10.jpg" class="thumb-img" alt="work-thumbnail">
              </a>
              <h4 class="text-center">Gallary Image</h4>
              <div class="ga-border"></div>
              <p class="text-muted text-center">
                <small>Photography</small>
              </p>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3 col-md-4 graphicdesign photography">
            <div class="gal-detail thumb">
              <a href="assets/images/gallery/11.jpg" class="image-popup" title="Screenshot-11">
                <img src="assets/images/gallery/11.jpg" class="thumb-img" alt="work-thumbnail">
              </a>
              <h4 class="text-center">Gallary Image</h4>
              <div class="ga-border"></div>
              <p class="text-muted text-center">
                <small>Photography</small>
              </p>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3 col-md-4 webdesign graphicdesign illustrator">
            <div class="gal-detail thumb">
              <a href="assets/images/gallery/12.jpg" class="image-popup" title="Screenshot-12">
                <img src="assets/images/gallery/12.jpg" class="thumb-img" alt="work-thumbnail">
              </a>
              <h4 class="text-center">Gallary Image</h4>
              <div class="ga-border"></div>
              <p class="text-muted text-center">
                <small>Photography</small>
              </p>
            </div>
          </div>

        </div>
      </div>
      <!-- End row -->

    </div>
    <!-- end container -->
  </div>
  <!-- end wrapper -->


  <!-- #include file="footer.html" -->

</body>

</html>
<!-- #include file="foot.html" -->