<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>SiteServer.UI - SiteServer CMS 响应式用户交互组件库</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta content="SiteServer CMS 响应式用户交互组件库，建立在 Bootstrap 最新版本 v4.0之上，采用Sass编写，基于HTML5以及CSS3，完全响应式。" name="description" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="shortcut icon" href="assets/images/favicon.ico">
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/siteserver.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <!-- #include file="header.html" -->


  <div class="container-fluid">

    <!-- Page-Title -->
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
          <div class="btn-group float-right">
            <ol class="breadcrumb hide-phone p-0 m-0">
              <li class="breadcrumb-item">
                <a href="#">SiteServer</a>
              </li>
              <li class="breadcrumb-item">
                <a href="#">Extras</a>
              </li>
              <li class="breadcrumb-item active">Email Template</li>
            </ol>
          </div>
          <h4 class="page-title">Email Template</h4>
        </div>
      </div>
    </div>
    <!-- end page title end breadcrumb -->


    <div class="row">
      <div class="col-12">
        <div class="card-box">
          <div class="row">
            <div class="col-lg-4">
              <h4 class="m-t-0 m-b-20 header-title">
                <b>Basic action email</b>
              </h4>
              <a href="email-templates/action.html" target="_blank">
                <img src="assets/images/email/1.png" class="img-fluid" alt=""> </a>
            </div>
            <div class="col-lg-4">
              <h4 class="m-t-0 m-b-20 header-title">
                <b>Email alert</b>
              </h4>
              <a href="email-templates/alert.html" target="_blank">
                <img src="assets/images/email/2.png" class="img-fluid" alt=""> </a>
            </div>
            <div class="col-lg-4">
              <h4 class="m-t-0 m-b-20 header-title">
                <b>Billing email</b>
              </h4>
              <a href="email-templates/billing.html" target="_blank">
                <img src="assets/images/email/3.png" class="img-fluid" alt=""> </a>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
  <!-- end container -->


  <!-- #include file="footer.html" -->

</body>

</html>