<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <!-- #include file="head.html" -->
</head>

<body>
  <!-- #include file="header.html" -->

  <div class="wrapper">
    <div class="container-fluid">

      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12">
          <div class="page-title-box">
            <div class="btn-group float-right">
              <ol class="breadcrumb hide-phone p-0 m-0">
                <li class="breadcrumb-item">
                  <a href="#">SiteServer</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="#">Extras</a>
                </li>
                <li class="breadcrumb-item active">Timeline</li>
              </ol>
            </div>
            <h4 class="page-title">Timeline</h4>
          </div>
        </div>
      </div>
      <!-- end page title end breadcrumb -->


      <div class="row">
        <div class="col-sm-12">
          <div class="timeline">
            <article class="timeline-item alt">
              <div class="text-right">
                <div class="time-show first">
                  <a href="#" class="btn btn-primary w-lg">Today</a>
                </div>
              </div>
            </article>
            <article class="timeline-item alt">
              <div class="timeline-desk">
                <div class="panel">
                  <div class="panel-body">
                    <span class="arrow-alt"></span>
                    <span class="timeline-icon"></span>
                    <h4 class="text-danger">1 hour ago</h4>
                    <p class="timeline-date text-muted">
                      <small>08:25 am</small>
                    </p>
                    <p>Dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? </p>
                  </div>
                </div>
              </div>
            </article>
            <article class="timeline-item ">
              <div class="timeline-desk">
                <div class="panel">
                  <div class="panel-body">
                    <span class="arrow"></span>
                    <span class="timeline-icon"></span>
                    <h4 class="text-success">2 hours ago</h4>
                    <p class="timeline-date text-muted">
                      <small>08:25 am</small>
                    </p>
                    <p>consectetur adipisicing elit. Iusto, optio, dolorum
                      <a href="#">John deon</a> provident rerum aut hic quasi placeat iure tempora laudantium </p>

                  </div>
                </div>
              </div>
            </article>
            <article class="timeline-item alt">
              <div class="timeline-desk">
                <div class="panel">
                  <div class="panel-body">
                    <span class="arrow-alt"></span>
                    <span class="timeline-icon"></span>
                    <h4 class="text-primary">10 hours ago</h4>
                    <p class="timeline-date text-muted">
                      <small>08:25 am</small>
                    </p>
                    <p>3 new photo Uploaded on facebook fan page</p>
                    <div class="album">
                      <a href="#">
                        <img alt="" src="assets/images/small/img1.jpg">
                      </a>
                      <a href="#">
                        <img alt="" src="assets/images/small/img2.jpg">
                      </a>
                      <a href="#">
                        <img alt="" src="assets/images/small/img3.jpg">
                      </a>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </article>
            <article class="timeline-item">
              <div class="timeline-desk">
                <div class="panel">
                  <div class="panel-body">
                    <span class="arrow"></span>
                    <span class="timeline-icon"></span>
                    <h4 class="text-purple">14 hours ago</h4>
                    <p class="timeline-date text-muted">
                      <small>08:25 am</small>
                    </p>
                    <p>Outdoor visit at California State Route 85 with John Boltana & Harry Piterson regarding to setup a new
                      show room.</p>
                  </div>
                </div>
              </div>
            </article>
            <article class="timeline-item alt">
              <div class="timeline-desk">
                <div class="panel">
                  <div class="panel-body">
                    <span class="arrow-alt"></span>
                    <span class="timeline-icon"></span>
                    <h4 class="text-muted">19 hours ago</h4>
                    <p class="timeline-date text-muted">
                      <small>08:25 am</small>
                    </p>
                    <p>Jonatha Smith added new milestone
                      <span>
                        <a href="#">Pathek</a>
                      </span>
                      Lorem ipsum dolor sit amet consiquest dio</p>
                  </div>
                </div>
              </div>
            </article>

            <article class="timeline-item alt">
              <div class="text-right">
                <div class="time-show">
                  <a href="#" class="btn btn-primary w-lg">Yesterday</a>
                </div>
              </div>
            </article>
            <article class="timeline-item">
              <div class="timeline-desk">
                <div class="panel">
                  <div class="panel-body">
                    <span class="arrow"></span>
                    <span class="timeline-icon"></span>
                    <h4 class="text-warning">07 January 2016</h4>
                    <p class="timeline-date text-muted">
                      <small>08:25 am</small>
                    </p>
                    <p>Montly Regular Medical check up at Greenland Hospital by the doctor
                      <span>
                        <a href="#"> Johm meon </a>
                      </span>
                    </p>

                  </div>
                </div>
              </div>
            </article>
            <article class="timeline-item alt">
              <div class="timeline-desk">
                <div class="panel">
                  <div class="panel-body">
                    <span class="arrow-alt"></span>
                    <span class="timeline-icon"></span>
                    <h4 class="text-primary">07 January 2016</h4>
                    <p class="timeline-date text-muted">
                      <small>08:25 am</small>
                    </p>
                    <p>Download the new updates of Ubold admin dashboard</p>
                  </div>
                </div>
              </div>
            </article>

            <article class="timeline-item">
              <div class="timeline-desk">
                <div class="panel">
                  <div class="panel-body">
                    <span class="arrow"></span>
                    <span class="timeline-icon"></span>
                    <h4 class="text-success">07 January 2016</h4>
                    <p class="timeline-date text-muted">
                      <small>08:25 am</small>
                    </p>
                    <p>Jonatha Smith added new milestone
                      <span>
                        <a class="blue" href="#">crishtian</a>
                      </span>
                      Lorem ipsum dolor sit amet consiquest dio</p>
                  </div>
                </div>
              </div>
            </article>
            <article class="timeline-item alt">
              <div class="text-right">
                <div class="time-show">
                  <a href="#" class="btn btn-primary w-lg">Last Month</a>
                </div>
              </div>
            </article>

            <article class="timeline-item alt">
              <div class="timeline-desk">
                <div class="panel">
                  <div class="panel-body">
                    <span class="arrow-alt"></span>
                    <span class="timeline-icon"></span>
                    <h4 class="text-muted">31 December 2015</h4>
                    <p class="timeline-date text-muted">
                      <small>08:25 am</small>
                    </p>
                    <p>Download the new updates of Ubold admin dashboard</p>
                  </div>
                </div>
              </div>
            </article>

            <article class="timeline-item">
              <div class="timeline-desk">
                <div class="panel">
                  <div class="panel-body">
                    <span class="arrow"></span>
                    <span class="timeline-icon"></span>
                    <h4 class="text-danger">16 Decembar 2015</h4>
                    <p class="timeline-date text-muted">
                      <small>08:25 am</small>
                    </p>
                    <p>Jonatha Smith added new milestone
                      <span>
                        <a href="#">prank</a>
                      </span>
                      Lorem ipsum dolor sit amet consiquest dio</p>
                  </div>
                </div>
              </div>
            </article>

          </div>
        </div>
      </div>
      <!-- end row -->

    </div>
    <!-- end container -->
  </div>
  <!-- end wrapper -->


  <!-- #include file="footer.html" -->

</body>

</html>
<!-- #include file="foot.html" -->