<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <!-- #include file="head.html" -->
</head>

<body>
  <!-- #include file="header.html" -->

  <div class="wrapper">
    <div class="container-fluid">

      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12">
          <div class="page-title-box">
            <div class="btn-group float-right">
              <ol class="breadcrumb hide-phone p-0 m-0">
                <li class="breadcrumb-item">
                  <a href="#">SiteServer</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="#">Pages</a>
                </li>
                <li class="breadcrumb-item active">Team</li>
              </ol>
            </div>
            <h4 class="page-title">Team</h4>
          </div>
        </div>
      </div>
      <!-- end page title end breadcrumb -->


      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="text-center card-box">
            <div class="member-card">
              <div class="thumb-lg member-thumb m-b-10 center-page">
                <img src="assets/images/users/avatar-1.jpg" class="rounded-circle img-thumbnail" alt="profile-image">
              </div>

              <div class="">
                <h4 class="m-b-5 mt-2">Mark McKnight</h4>
                <p class="text-muted">@webdesigner</p>
              </div>

              <button type="button" class="btn btn-success btn-sm w-sm waves-effect m-t-10 waves-light">Follow</button>
              <button type="button" class="btn btn-danger btn-sm w-sm waves-effect m-t-10 waves-light">Message</button>

              <div class="text-left m-t-40">
                <p class="text-muted font-13">
                  <strong>Full Name :</strong>
                  <span class="m-l-15">Mark A. McKnight</span>
                </p>

                <p class="text-muted font-13">
                  <strong>Mobile :</strong>
                  <span class="m-l-15">(123) 123 1234</span>
                </p>

                <p class="text-muted font-13">
                  <strong>Email :</strong>
                  <span class="m-l-15">coderthemes@gmail.com</span>
                </p>

                <p class="text-muted font-13">
                  <strong>Location :</strong>
                  <span class="m-l-15">USA</span>
                </p>
              </div>

              <ul class="social-links list-inline m-t-30 mb-0">
                <li class="list-inline-item">
                  <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype">
                    <i class="fa fa-skype"></i>
                  </a>
                </li>
              </ul>

            </div>

          </div>
          <!-- end card-box -->
        </div>
        <!-- end col -->

        <div class="col-lg-4 col-md-6">
          <div class="text-center card-box">
            <div class="member-card">
              <div class="thumb-lg member-thumb m-b-10 center-page">
                <img src="assets/images/users/avatar-2.jpg" class="rounded-circle img-thumbnail" alt="profile-image">
              </div>

              <div class="">
                <h4 class="m-b-5 mt-2">Jackson E. Dewitt</h4>
                <p class="text-muted">@webdesigner</p>
              </div>

              <button type="button" class="btn btn-success btn-sm w-sm waves-effect m-t-10 waves-light">Follow</button>
              <button type="button" class="btn btn-danger btn-sm w-sm waves-effect m-t-10 waves-light">Message</button>

              <div class="text-left m-t-40">
                <p class="text-muted font-13">
                  <strong>Full Name :</strong>
                  <span class="m-l-15">Mark A. McKnight</span>
                </p>

                <p class="text-muted font-13">
                  <strong>Mobile :</strong>
                  <span class="m-l-15">(123) 123 1234</span>
                </p>

                <p class="text-muted font-13">
                  <strong>Email :</strong>
                  <span class="m-l-15">coderthemes@gmail.com</span>
                </p>

                <p class="text-muted font-13">
                  <strong>Location :</strong>
                  <span class="m-l-15">USA</span>
                </p>
              </div>

              <ul class="social-links list-inline m-t-30 mb-0">
                <li class="list-inline-item">
                  <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype">
                    <i class="fa fa-skype"></i>
                  </a>
                </li>
              </ul>

            </div>

          </div>
          <!-- end card-box -->
        </div>
        <!-- end col -->

        <div class="col-lg-4 col-md-6">
          <div class="text-center card-box">
            <div class="member-card">
              <div class="thumb-lg member-thumb m-b-10 center-page">
                <img src="assets/images/users/avatar-3.jpg" class="rounded-circle img-thumbnail" alt="profile-image">
              </div>

              <div class="">
                <h4 class="m-b-5 mt-2">Deon M. Wilson</h4>
                <p class="text-muted">@webdesigner</p>
              </div>

              <button type="button" class="btn btn-success btn-sm w-sm waves-effect m-t-10 waves-light">Follow</button>
              <button type="button" class="btn btn-danger btn-sm w-sm waves-effect m-t-10 waves-light">Message</button>

              <div class="text-left m-t-40">
                <p class="text-muted font-13">
                  <strong>Full Name :</strong>
                  <span class="m-l-15">Mark A. McKnight</span>
                </p>

                <p class="text-muted font-13">
                  <strong>Mobile :</strong>
                  <span class="m-l-15">(123) 123 1234</span>
                </p>

                <p class="text-muted font-13">
                  <strong>Email :</strong>
                  <span class="m-l-15">coderthemes@gmail.com</span>
                </p>

                <p class="text-muted font-13">
                  <strong>Location :</strong>
                  <span class="m-l-15">USA</span>
                </p>
              </div>

              <ul class="social-links list-inline m-t-30 mb-0">
                <li class="list-inline-item">
                  <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype">
                    <i class="fa fa-skype"></i>
                  </a>
                </li>
              </ul>

            </div>

          </div>
          <!-- end card-box -->
        </div>
        <!-- end col -->

        <div class="col-lg-4 col-md-6">
          <div class="text-center card-box">
            <div class="member-card">
              <div class="thumb-lg member-thumb m-b-10 center-page">
                <img src="assets/images/users/avatar-4.jpg" class="rounded-circle img-thumbnail" alt="profile-image">
              </div>

              <div class="">
                <h4 class="m-b-5 mt-2">Alexander E. Dunn</h4>
                <p class="text-muted">@webdesigner</p>
              </div>

              <button type="button" class="btn btn-success btn-sm w-sm waves-effect m-t-10 waves-light">Follow</button>
              <button type="button" class="btn btn-danger btn-sm w-sm waves-effect m-t-10 waves-light">Message</button>

              <div class="text-left m-t-40">
                <p class="text-muted font-13">
                  <strong>Full Name :</strong>
                  <span class="m-l-15">Mark A. McKnight</span>
                </p>

                <p class="text-muted font-13">
                  <strong>Mobile :</strong>
                  <span class="m-l-15">(123) 123 1234</span>
                </p>

                <p class="text-muted font-13">
                  <strong>Email :</strong>
                  <span class="m-l-15">coderthemes@gmail.com</span>
                </p>

                <p class="text-muted font-13">
                  <strong>Location :</strong>
                  <span class="m-l-15">USA</span>
                </p>
              </div>

              <ul class="social-links list-inline m-t-30 mb-0">
                <li class="list-inline-item">
                  <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype">
                    <i class="fa fa-skype"></i>
                  </a>
                </li>
              </ul>

            </div>

          </div>
          <!-- end card-box -->
        </div>
        <!-- end col -->

        <div class="col-lg-4 col-md-6">
          <div class="text-center card-box">
            <div class="member-card">
              <div class="thumb-lg member-thumb m-b-10 center-page">
                <img src="assets/images/users/avatar-5.jpg" class="rounded-circle img-thumbnail" alt="profile-image">
              </div>

              <div class="">
                <h4 class="m-b-5 mt-2">John C. Reed</h4>
                <p class="text-muted">@webdesigner</p>
              </div>

              <button type="button" class="btn btn-success btn-sm w-sm waves-effect m-t-10 waves-light">Follow</button>
              <button type="button" class="btn btn-danger btn-sm w-sm waves-effect m-t-10 waves-light">Message</button>

              <div class="text-left m-t-40">
                <p class="text-muted font-13">
                  <strong>Full Name :</strong>
                  <span class="m-l-15">Mark A. McKnight</span>
                </p>

                <p class="text-muted font-13">
                  <strong>Mobile :</strong>
                  <span class="m-l-15">(123) 123 1234</span>
                </p>

                <p class="text-muted font-13">
                  <strong>Email :</strong>
                  <span class="m-l-15">coderthemes@gmail.com</span>
                </p>

                <p class="text-muted font-13">
                  <strong>Location :</strong>
                  <span class="m-l-15">USA</span>
                </p>
              </div>

              <ul class="social-links list-inline m-t-30 mb-0">
                <li class="list-inline-item">
                  <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype">
                    <i class="fa fa-skype"></i>
                  </a>
                </li>
              </ul>

            </div>

          </div>
          <!-- end card-box -->
        </div>
        <!-- end col -->

        <div class="col-lg-4 col-md-6">
          <div class="text-center card-box">
            <div class="member-card">
              <div class="thumb-lg member-thumb m-b-10 center-page">
                <img src="assets/images/users/avatar-6.jpg" class="rounded-circle img-thumbnail" alt="profile-image">
              </div>

              <div class="">
                <h4 class="m-b-5 mt-2">Francis L. Henson</h4>
                <p class="text-muted">@webdesigner</p>
              </div>

              <button type="button" class="btn btn-success btn-sm w-sm waves-effect m-t-10 waves-light">Follow</button>
              <button type="button" class="btn btn-danger btn-sm w-sm waves-effect m-t-10 waves-light">Message</button>

              <div class="text-left m-t-40">
                <p class="text-muted font-13">
                  <strong>Full Name :</strong>
                  <span class="m-l-15">Mark A. McKnight</span>
                </p>

                <p class="text-muted font-13">
                  <strong>Mobile :</strong>
                  <span class="m-l-15">(123) 123 1234</span>
                </p>

                <p class="text-muted font-13">
                  <strong>Email :</strong>
                  <span class="m-l-15">coderthemes@gmail.com</span>
                </p>

                <p class="text-muted font-13">
                  <strong>Location :</strong>
                  <span class="m-l-15">USA</span>
                </p>
              </div>

              <ul class="social-links list-inline m-t-30 mb-0">
                <li class="list-inline-item">
                  <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype">
                    <i class="fa fa-skype"></i>
                  </a>
                </li>
              </ul>

            </div>

          </div>
          <!-- end card-box -->
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->

    </div>
    <!-- end container -->
  </div>
  <!-- end wrapper -->


  <!-- #include file="footer.html" -->

</body>

</html>
<!-- #include file="foot.html" -->