<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <!-- #include file="head.html" -->
</head>

<body>
  <!-- #include file="header.html" -->

  <div class="wrapper">
    <div class="container-fluid">

      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12">
          <div class="page-title-box">
            <div class="btn-group float-right">
              <ol class="breadcrumb hide-phone p-0 m-0">
                <li class="breadcrumb-item">
                  <a href="#">SiteServer</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="#">Extras</a>
                </li>
                <li class="breadcrumb-item active">Pricing</li>
              </ol>
            </div>
            <h4 class="page-title">Pricing</h4>
          </div>
        </div>
      </div>
      <!-- end page title end breadcrumb -->


      <div class="row">
        <div class="col-lg-9 center-page">
          <div class="text-center">
            <h3 class="m-b-30 m-t-20">Simple Pricing</h3>
          </div>

          <div class="row m-t-40">

            <!--Pricing Column-->
            <article class="pricing-column col-lg-4 col-md-4">
              <div class="inner-box card-box">
                <div class="plan-header text-center">
                  <h3 class="plan-title">Starter Pack</h3>
                  <h2 class="plan-price">$19</h2>
                  <div class="plan-duration">Per Month</div>
                </div>
                <ul class="plan-stats list-unstyled text-center">
                  <li>
                    <i class="ti-cloud text-success"></i> 10 GB Storege</li>
                  <li>
                    <i class="ti-briefcase text-success"></i> 500 GB Bandwidth</li>
                  <li>
                    <i class="ti-wand text-success"></i> No Domain</li>
                  <li>
                    <i class="ti-user text-success"></i> 1 User</li>
                  <li>
                    <i class="ti-email text-success"></i> Email Support</li>
                  <li>
                    <i class="ti-headphone-alt text-success"></i> 24x7 Support</li>
                </ul>

                <div class="text-center">
                  <a href="#" class="btn btn-danger btn-bordred btn-rounded waves-effect waves-light">Signup Now</a>
                </div>
              </div>
            </article>


            <!--Pricing Column-->
            <article class="pricing-column col-lg-4 col-md-4">
              <div class="ribbon">
                <span>POPULAR</span>
              </div>
              <div class="inner-box card-box">
                <div class="plan-header text-center">
                  <h3 class="plan-title">Professional Pack</h3>
                  <h2 class="plan-price">$29</h2>
                  <div class="plan-duration">Per Month</div>
                </div>
                <ul class="plan-stats list-unstyled text-center">
                  <li>
                    <i class="ti-cloud text-success"></i> 50 GB Storege</li>
                  <li>
                    <i class="ti-briefcase text-success"></i> 1200 GB Bandwidth</li>
                  <li>
                    <i class="ti-wand text-success"></i> 5 Domain</li>
                  <li>
                    <i class="ti-user text-success"></i> 100 User</li>
                  <li>
                    <i class="ti-email text-success"></i> Email Support</li>
                  <li>
                    <i class="ti-headphone-alt text-success"></i> 24x7 Support</li>
                </ul>

                <div class="text-center">
                  <a href="#" class="btn btn-danger btn-bordred btn-rounded waves-effect waves-light">Signup Now</a>
                </div>
              </div>
            </article>


            <!--Pricing Column-->
            <article class="pricing-column col-lg-4 col-md-4">
              <div class="inner-box card-box">
                <div class="plan-header text-center">
                  <h3 class="plan-title">Enterprise Pack</h3>
                  <h2 class="plan-price">$39</h2>
                  <div class="plan-duration">Per Month</div>
                </div>
                <ul class="plan-stats list-unstyled text-center">
                  <li>
                    <i class="ti-cloud text-success"></i> 1000 GB Storege</li>
                  <li>
                    <i class="ti-briefcase text-success"></i> Unlimited Bandwidth</li>
                  <li>
                    <i class="ti-wand text-success"></i> 20 Domain</li>
                  <li>
                    <i class="ti-user text-success"></i> Unlimited User</li>
                  <li>
                    <i class="ti-email text-success"></i> Email Support</li>
                  <li>
                    <i class="ti-headphone-alt text-success"></i> 24x7 Support</li>
                </ul>

                <div class="text-center">
                  <a href="#" class="btn btn-danger btn-bordred btn-rounded waves-effect waves-light">Signup Now</a>
                </div>
              </div>
            </article>

          </div>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->

    </div>
    <!-- end container -->
  </div>
  <!-- end wrapper -->


  <!-- #include file="footer.html" -->

</body>

</html>
<!-- #include file="foot.html" -->