<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>SiteServer.UI - SiteServer CMS 响应式用户交互组件库</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta content="SiteServer CMS 响应式用户交互组件库，建立在 Bootstrap 最新版本 v4.0之上，采用Sass编写，基于HTML5以及CSS3，完全响应式。" name="description" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="shortcut icon" href="assets/images/favicon.ico">
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/siteserver.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <!-- #include file="header.html" -->


  <div class="container-fluid">

    <!-- Page-Title -->
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
          <div class="btn-group float-right">
            <ol class="breadcrumb hide-phone p-0 m-0">
              <li class="breadcrumb-item">
                <a href="#">SiteServer</a>
              </li>
              <li class="breadcrumb-item">
                <a href="#">Extras</a>
              </li>
              <li class="breadcrumb-item active">Calendar</li>
            </ol>
          </div>
          <h4 class="page-title">Calendar</h4>
        </div>
      </div>
    </div>
    <!-- end page title end breadcrumb -->


    <div class="row">
      <div class="col-lg-12">

        <div class="row">
          <div class="col-lg-3">
            <div class="widget">
              <div class="widget-body">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <button type="button" data-toggle="modal" data-target="#add-category" class="btn btn-lg btn-primary btn-block">
                      <i class="fa fa-plus"></i> Create New
                    </button>
                    <div id="external-events" class="m-t-20">

                      <p>Drag and drop your event or click in the calendar</p>
                      <div class="external-event bg-primary" data-class="bg-primary" style="position: relative;">
                        <i class="fa fa-move"></i>My Event One
                      </div>
                      <div class="external-event bg-pink" data-class="bg-pink" style="position: relative;">
                        <i class="fa fa-move"></i>My Event Two
                      </div>
                      <div class="external-event bg-info" data-class="bg-info" style="position: relative;">
                        <i class="fa fa-move"></i>My Event Three
                      </div>
                      <div class="external-event bg-purple" data-class="bg-purple" style="position: relative;">
                        <i class="fa fa-move"></i>My Event Four
                      </div>
                    </div>

                    <!-- checkbox -->
                    <div class="checkbox m-t-20">
                      <input id="drop-remove" type="checkbox">
                      <label for="drop-remove">
                        Remove after drop
                      </label>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end col-->
          <div class="col-lg-9">
            <div class="card-box">
              <div id="calendar"></div>
            </div>
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->

        <!-- BEGIN MODAL -->
        <div class="modal fade none-border" id="event-modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title mt-0">
                  <strong>Add Event</strong>
                </h5>
              </div>
              <div class="modal-body"></div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success save-event">Create event</button>
                <button type="button" class="btn btn-danger delete-event" data-dismiss="modal">Delete</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal Add Category -->
        <div class="modal fade none-border" id="add-category">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title mt-0">
                  <strong>Add</strong> a category</h5>
              </div>
              <div class="modal-body">
                <form role="form">
                  <div class="row">
                    <div class="col-md-6">
                      <label class="control-label">Category Name</label>
                      <input class="form-control form-white" placeholder="Enter name" type="text" name="category-name" />
                    </div>
                    <div class="col-md-6">
                      <label class="control-label">Choose Category Color</label>
                      <select class="form-control form-white" data-placeholder="Choose a color..." name="category-color">
                        <option value="success">Success</option>
                        <option value="danger">Danger</option>
                        <option value="info">Info</option>
                        <option value="pink">Pink</option>
                        <option value="primary">Primary</option>
                        <option value="warning">Warning</option>
                        <option value="inverse">Inverse</option>
                      </select>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger save-category" data-dismiss="modal">Save</button>
              </div>
            </div>
          </div>
        </div>
        <!-- END MODAL -->
      </div>
      <!-- end col-12 -->
    </div>
    <!-- end row -->

  </div>
  <!-- end container -->


  <!-- #include file="footer.html" -->

</body>

</html>