<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>SiteServer.UI - SiteServer CMS 响应式用户交互组件库</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta content="SiteServer CMS 响应式用户交互组件库，建立在 Bootstrap 最新版本 v4.0之上，采用Sass编写，基于HTML5以及CSS3，完全响应式。" name="description" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="shortcut icon" href="assets/images/favicon.ico">
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/siteserver.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <!-- #include file="header.html" -->


  <div class="container-fluid">

    <!-- Page-Title -->
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
          <div class="btn-group float-right">
            <ol class="breadcrumb hide-phone p-0 m-0">
              <li class="breadcrumb-item">
                <a href="#">SiteServer</a>
              </li>
              <li class="breadcrumb-item">
                <a href="#">Extras</a>
              </li>
              <li class="breadcrumb-item active">FAQ</li>
            </ol>
          </div>
          <h4 class="page-title">FAQ</h4>
        </div>
      </div>
    </div>
    <!-- end page title end breadcrumb -->


    <div class="row">
      <div class="col-sm-12">
        <div class="text-center">
          <h3 class="font-600">Frequently Asked Questions</h3>
          <p class="text-muted"> Nisi praesentium similique totam odio obcaecati, reprehenderit, dignissimos rem temporibus ea inventore alias!
            <br> Beatae animi nemo ea tempora, temporibus laborum facilis ut!</p>

          <button type="button" class="btn btn-success m-t-10">Email us your question</button>
          <button type="button" class="btn btn-primary m-t-10">Send us a tweet</button>

        </div>
      </div>
      <!-- end col -->
    </div>


    <div class="row m-t-40">
      <div class="col-lg-9 center-page">
        <div>
          <div class="question-q-box">Q.</div>
          <h4 class="question">What is Lorem Ipsum?</h4>
          <p class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
            a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged.</p>
        </div>

        <div>
          <div class="question-q-box">Q.</div>
          <h4 class="question">Why do we use it?</h4>
          <p class="answer">It is a long established fact that a reader will be distracted by the readable content of a page when looking at
            its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
            to using 'Content here, content here', making it look like readable English. Many desktop publishing packages
            and web page editors now use Lorem Ipsum as their default model text.</p>
        </div>

        <div>
          <div class="question-q-box">Q.</div>
          <h4 class="question">Where does it come from?</h4>
          <p class="answer">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
            from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in
            Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through
            the cites of the word in classical literature, discovered the undoubtable source.</p>
        </div>

        <div>
          <div class="question-q-box">Q.</div>
          <h4 class="question">Where can I get some?</h4>
          <p class="answer">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
            form, by injected humour, or randomised words which don't look even slightly believable. If you are going to
            use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
        </div>

        <div>
          <div class="question-q-box">Q.</div>
          <h4 class="question" data-wow-delay=".1s">How many variations exist?</h4>
          <p class="answer">Lorem ipsum dolor sit amet, in mea nonumes dissentias dissentiunt, pro te solet oratio iriure. Cu sit consetetur
            moderatius intellegam, ius decore accusamus te. Ne primis suavitate disputando nam. Mutat convenirete.</p>
        </div>
      </div>
    </div>

  </div>
  <!-- end container -->


  <!-- #include file="footer.html" -->

</body>

</html>