<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <!-- #include file="head.html" -->
</head>

<body>
  <!-- #include file="header.html" -->

  <div class="wrapper">
    <div class="container-fluid">

      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12">
          <div class="page-title-box">
            <div class="btn-group float-right">
              <ol class="breadcrumb hide-phone p-0 m-0">
                <li class="breadcrumb-item">
                  <a href="#">SiteServer</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="#">Forms</a>
                </li>
                <li class="breadcrumb-item active">Multiple File Upload</li>
              </ol>
            </div>
            <h4 class="page-title">Multiple File Upload</h4>
          </div>
        </div>
      </div>
      <!-- end page title end breadcrumb -->

      <div class="row">
        <div class="col-md-12 portlets">
          <!-- Your awesome content goes here -->
          <div class="m-b-30">
            <form action="#" class="dropzone" id="dropzone">
              <div class="fallback">
                <input name="file" type="file" multiple />
              </div>

            </form>
            <div class="clearfix float-right m-t-15">
              <button type="button" class="btn btn-danger btn-rounded waves-effect waves-light">Submit</button>
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->

    </div>
    <!-- end container -->
  </div>
  <!-- end wrapper -->


  <!-- #include file="footer.html" -->

</body>

</html>
<!-- #include file="foot.html" -->