<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <!-- #include file="head.html" -->
</head>

<body>
  <!-- #include file="header.html" -->

  <div class="wrapper">
    <div class="container-fluid">

      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12">
          <div class="page-title-box">
            <div class="btn-group float-right">
              <ol class="breadcrumb hide-phone p-0 m-0">
                <li class="breadcrumb-item">
                  <a href="#">SiteServer</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="#">Maps</a>
                </li>
                <li class="breadcrumb-item active">Google Maps</li>
              </ol>
            </div>
            <h4 class="page-title">Google Maps</h4>
          </div>
        </div>
      </div>
      <!-- end page title end breadcrumb -->


      <div class="row">
        <div class="col-lg-6">
          <div class="card-box">
            <h4 class="m-t-0 m-b-20 header-title">
              <b>Markers</b>
            </h4>

            <div id="gmaps-markers" class="gmaps"></div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card-box">
            <h4 class="m-t-0 m-b-20 header-title">
              <b>Overlays</b>
            </h4>

            <div id="gmaps-overlay" class="gmaps"></div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-lg-6">
          <div class="card-box">
            <h4 class="m-t-0 m-b-20 header-title">
              <b>Street View Panoramas</b>
            </h4>

            <div id="panorama" class="gmaps-panaroma"></div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card-box">
            <h4 class="m-t-0 m-b-20 header-title">
              <b>Map Types</b>
            </h4>

            <div id="gmaps-types" class="gmaps"></div>
          </div>
        </div>
      </div>

    </div>
    <!-- end container -->
  </div>
  <!-- end wrapper -->


  <!-- #include file="footer.html" -->

</body>

</html>
<!-- #include file="foot.html" -->