<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <!-- #include file="head.html" -->
</head>

<body>

  <div class="wrapper-page">

    <div class="text-center">
      <a href="index.html" class="logo-lg">
        <i class="mdi mdi-radar"></i>
        <span>SiteServer</span>
      </a>
    </div>

    <form method="post" action="index.html" role="form" class="text-center m-t-20">
      <div class="user-thumb">
        <img src="assets/images/users/avatar-2.jpg" class="rounded-circle img-thumbnail" alt="thumbnail">
      </div>
      <div class="form-group">
        <h5 class="text-uppercase mt-2">John Deo</h5>
        <p class="text-muted">Enter your password to access the admin.</p>
        <div class="input-group m-t-30">
          <input type="password" class="form-control" placeholder="Password">
          <i class="md md-vpn-key form-control-feedback l-h-34" style="left:6px;z-index: 99;"></i>
          <span class="input-group-append">
            <button type="submit" class="btn btn-email btn-primary waves-effect waves-light"> Log In </button>
          </span>
        </div>
      </div>
      <div class="text-right">
        <a href="pages-login.html" class="text-muted">Not John Deo ?</a>
      </div>
    </form>

  </div>

  <!-- #include file="footer.html" -->

</body>

</html>
<!-- #include file="foot.html" -->