<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <!-- #include file="head.html" -->
</head>

<body>

  <div class="wrapper-page">

    <div class="text-center">
      <a href="index.html" class="logo-lg">
        <i class="mdi mdi-radar"></i>
        <span>SiteServer</span>
      </a>
    </div>

    <div class="card-box m-t-20">
      <div class="text-center">
        <h5 class="text-uppercase font-bold m-b-0">Confirm Email</h5>
      </div>
      <div class="text-center">
        <img src="assets/images/mail_confirm.png" alt="img" class="thumb-lg m-t-20 center-block">
        <p class="text-muted font-13 m-t-20"> A email has been send to
          <b>youremail@domain.com</b>. Please check for an email from company and click on the included link to reset your password.
          </p>
      </div>
    </div>

  </div>

  <!-- #include file="footer.html" -->

</body>

</html>
<!-- #include file="foot.html" -->