<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>SiteServer.UI - SiteServer CMS 响应式用户交互组件库</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta content="SiteServer CMS 响应式用户交互组件库，建立在 Bootstrap 最新版本 v4.0之上，采用Sass编写，基于HTML5以及CSS3，完全响应式。" name="description" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="shortcut icon" href="assets/images/favicon.ico">
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/siteserver.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <!-- #include file="header.html" -->


  <div class="container-fluid">

    <!-- Page-Title -->
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
          <div class="btn-group float-right">
            <ol class="breadcrumb hide-phone p-0 m-0">
              <li class="breadcrumb-item">
                <a href="#">SiteServer</a>
              </li>
              <li class="breadcrumb-item">
                <a href="#">UI Kit</a>
              </li>
              <li class="breadcrumb-item active">Typography</li>
            </ol>
          </div>
          <h4 class="page-title">Typography</h4>
        </div>
      </div>
    </div>
    <!-- end page title end breadcrumb -->


    <div class="row">
      <div class="col-12">
        <div class="card-box">
          <div class="row">
            <div class="col-12">
              <h4 class="m-t-0 header-title">Headings</h4>
              <p class="text-muted m-b-30 font-13">
                All HTML headings,
                <code class="highlighter-rouge">&lt;h1&gt;</code> through
                <code>&lt;h6&gt;</code>, are available.
                <code>.h1</code> through
                <code>.h6</code>
                classes are also available, for when you want to match the font styling of a heading but still want your text to be displayed
                inline.
              </p>

              <h1>This is a Heading 1</h1>
              <p class="text-muted">Suspendisse vel quam malesuada, aliquet sem sit amet, fringilla elit. Morbi tempor tincidunt tempor. Etiam
                id turpis viverra, vulputate sapien nec, varius sem. Curabitur ullamcorper fringilla eleifend. In ut eros
                hendrerit est consequat posuere et at velit.</p>

              <div class="clearfix"></div>

              <h2>This is a Heading 2</h2>
              <p class="text-muted">In nec rhoncus eros. Vestibulum eu mattis nisl. Quisque viverra viverra magna nec pulvinar. Maecenas pellentesque
                porta augue, consectetur facilisis diam porttitor sed. Suspendisse tempor est sodales augue rutrum tincidunt.
                Quisque a malesuada purus.</p>

              <div class="clearfix"></div>

              <h3>This is a Heading 3</h3>
              <p class="text-muted">Vestibulum auctor tincidunt semper. Phasellus ut vulputate lacus. Suspendisse ultricies mi eros, sit amet tempor
                nulla varius sed. Proin nisl nisi, feugiat quis bibendum vitae, dapibus in tellus.</p>

              <div class="clearfix"></div>

              <h4>This is a Heading 4</h4>
              <p class="text-muted">Nulla et mattis nunc. Curabitur scelerisque commodo condimentum. Mauris blandit, velit a consectetur egestas,
                diam arcu fermentum justo, eget ultrices arcu eros vel erat.</p>

              <div class="clearfix"></div>

              <h5>This is a Heading 5</h5>
              <p class="text-muted">Quisque nec turpis at urna dictum luctus. Suspendisse convallis dignissim eros at volutpat. In egestas mattis
                dui. Aliquam mattis dictum aliquet. Nulla sapien mauris, eleifend et sem ac, commodo dapibus odio. Vivamus
                pretium nec odio cursus elementum. Suspendisse molestie ullamcorper ornare.
              </p>

              <div class="clearfix"></div>

              <h6>This is a Heading 6</h6>
              <p class="text-muted">Donec ultricies, lacus id tempor condimentum, orci leo faucibus sem, a molestie libero lectus ac justo. ultricies
                mi eros, sit amet tempor nulla varius sed. Proin nisl nisi, feugiat quis bibendum vitae, dapibus in tellus.
              </p>
            </div>

          </div>


          <div class="row m-t-50">
            <div class="col-12">
              <h4 class="m-t-0 header-title">Display headings</h4>
              <p class="text-muted m-b-15 font-13">
                Traditional heading elements are designed to work best in the meat of your page content. When you need a heading to stand
                out, consider using a
                <strong>display heading</strong>—a larger, slightly more opinionated heading style.
              </p>

              <h1 class="display-1">Display 1</h1>
              <h1 class="display-2">Display 2</h1>
              <h1 class="display-3">Display 3</h1>
              <h1 class="display-4">Display 4</h1>
            </div>

          </div>


          <div class="row m-t-50">
            <div class="col-sm-6 m-t-20">
              <h4 class="m-t-0 header-title">Inline text elements</h4>
              <p class="text-muted m-b-30 font-13">
                Your awesome text goes here.
              </p>

              <p class="lead m-t-0">
                Your title goes here
              </p>

              You can use the mark tag to
              <mark>
                highlight</mark> text.

              <br>
              <br>

              <del>This line of text is meant to be treated as deleted text.</del>

              <br>
              <br>

              <ins>This line of text is meant to be treated as an addition to the document.</ins>

              <br>
              <br>

              <strong>rendered as bold text</strong>

              <br>
              <br>

              <em>rendered as italicized text</em>
            </div>

            <div class="col-sm-6 m-t-20">
              <h4 class="m-t-0 header-title">Contextual Text Colors</h4>
              <p class="text-muted m-b-30 font-13">
                Your awesome text goes here.
              </p>

              <p class="text-custom">
                Etiam porta sem malesuada magna mollis euismod.
              </p>
              <p class="text-pink">
                Donec ullamcorper nulla non metus auctor fringilla.
              </p>
              <p class="text-muted">
                Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.
              </p>
              <p class="text-primary">
                Nullam id dolor id nibh ultricies vehicula ut id elit.
              </p>
              <p class="text-success">
                Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
              </p>
              <p class="text-info">
                Maecenas sed diam eget risus varius blandit sit amet non magna.
              </p>
              <p class="text-warning">
                Etiam porta sem malesuada magna mollis euismod.
              </p>
              <p class="text-danger">
                Donec ullamcorper nulla non metus auctor fringilla.
              </p>
              <p class="text-dark">
                Nullam id dolor id nibh ultricies vehicula ut id elit.
              </p>
              <p class="text-purple m-b-0">
                Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.
              </p>

            </div>

          </div>
          <!-- end row -->


          <div class="row m-t-50">
            <div class="col-sm-4 m-t-20">
              <h4 class="m-t-0 header-title">Unordered</h4>
              <p class="text-muted m-b-20 font-13">
                A list of items in which the order does not explicitly matter.
              </p>

              <ul>
                <li>
                  Lorem ipsum dolor sit amet
                </li>
                <li>
                  Consectetur adipiscing elit
                </li>
                <li>
                  Integer molestie lorem at massa
                </li>
                <li>
                  Facilisis in pretium nisl aliquet
                </li>
                <li>
                  Nulla volutpat aliquam velit
                  <ul>
                    <li>
                      Phasellus iaculis neque
                    </li>
                    <li>
                      Purus sodales ultricies
                    </li>
                    <li>
                      Vestibulum laoreet porttitor sem
                    </li>
                    <li>
                      Ac tristique libero volutpat at
                    </li>
                  </ul>
                </li>
                <li>
                  Faucibus porta lacus fringilla vel
                </li>
                <li>
                  Aenean sit amet erat nunc
                </li>
                <li>
                  Eget porttitor lorem
                </li>
              </ul>

            </div>

            <div class="col-sm-4 m-t-20">
              <h4 class="m-t-0 header-title">Ordered</h4>
              <p class="text-muted m-b-20 font-13">
                A list of items in which the order does explicitly matter.
              </p>

              <ol>
                <li>
                  Lorem ipsum dolor sit amet
                </li>
                <li>
                  Consectetur adipiscing elit
                </li>
                <li>
                  Integer molestie lorem at massa
                </li>
                <li>
                  Facilisis in pretium nisl aliquet
                </li>
                <li>
                  Nulla volutpat aliquam velit
                  <ol>
                    <li>
                      Phasellus iaculis neque
                    </li>
                    <li>
                      Purus sodales ultricies
                    </li>
                    <li>
                      Vestibulum laoreet porttitor sem
                    </li>
                    <li>
                      Ac tristique libero volutpat at
                    </li>
                  </ol>
                </li>
                <li>
                  Faucibus porta lacus fringilla vel
                </li>
                <li>
                  Aenean sit amet erat nunc
                </li>
                <li>
                  Eget porttitor lorem
                </li>
              </ol>
            </div>

            <div class="col-sm-4 m-t-20">
              <h4 class="m-t-0 header-title">Unstyled</h4>
              <p class="text-muted m-b-20 font-13">
                <strong>This only applies to immediate children list items</strong>, meaning you will need to add the class for any
                nested lists as well.
              </p>

              <ul class="list-unstyled">
                <li>
                  Lorem ipsum dolor sit amet
                </li>
                <li>
                  Integer molestie lorem at massa
                  <ul>
                    <li>
                      Phasellus iaculis neque
                    </li>
                  </ul>
                </li>
                <li>
                  Faucibus porta lacus fringilla vel
                </li>
                <li>
                  Eget porttitor lorem
                </li>
              </ul>

              <h5>Inline</h5>
              <p class="text-muted m-b-15 font-13">
                Place all list items on a single line with
                <code>
                  display: inline-block;</code>
                and some light padding.
              </p>

              <ul class="list-inline m-b-0">
                <li class="list-inline-item">
                  Lorem ipsum
                </li>
                <li class="list-inline-item">
                  Phasellus iaculis
                </li>
                <li class="list-inline-item">
                  Nulla volutpat
                </li>
              </ul>

            </div>
          </div>
          <!-- end row -->


          <div class="row m-t-50">
            <div class="col-sm-6 m-t-20">
              <h4 class="m-t-0 header-title">Blockquotes</h4>
              <p class="text-muted m-b-30 font-13">
                Your awesome text goes here.
              </p>

              <blockquote class="blockquote">
                <p class="m-b-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer">Someone famous in
                  <cite title="Source Title">Source Title</cite>
                </footer>
              </blockquote>

              <p class="text-muted m-b-15 m-t-20 font-13">
                Add
                <code>
                  .blockquote-reverse</code>
                for a blockquote with right-aligned content.
              </p>

              <blockquote class="blockquote blockquote-reverse">
                <p class="m-b-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer">Someone famous in
                  <cite title="Source Title">Source Title</cite>
                </footer>
              </blockquote>
            </div>

          </div>
          <!-- end row -->

        </div>
      </div>

    </div>
    <!-- end row -->

  </div>
  <!-- end container -->


  <!-- #include file="footer.html" -->

</body>

</html>